@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
header{
    width: 100%;
    height: 150px;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

header a{
    color: #fff;
    font-size: 20px;
    
}
.links{
    padding: 0 10px;
    text-decoration: none;
}
.content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}